<!DOCTYPE html>
<html lang="en">
    
    <%- include ('../partials/head') %>
  <body>

    <%- include ('../partials/header') %>
    
    <div class="container pt-2">
      <div class='row p-2'>
        <div class="col">
          <form id="formParams">
              <div class="form-row">
                  <div class="col-md">
                    <label for="inputSiteURL">Сайт для парсинга</label>
                    <input type="text" class="form-control" id="inputSiteURL" placeholder="Site URL">
                  </div>                  
              </div>
              <br>
              <div class="form-row">
                <div class="col-md">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </div>
              
          </form>
        </div>
      </div>
    </div>
    
    <%- include ('../partials/footer') %>
    <script src='/js/index.js'></script>
  </body>
</html>